$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #e5e5e5 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Bootstrap Base colors definitions
$black: #313131 !default;
$darky: #444444 !default;
$bloody:#FB511B !default;
$red :#EB5757!default;
$dark-gray: #828282 !default;
$dark-gray-2: #7A7585 !default;
$gray-1: #F6F6F6 !default;
$gray-2:#E8E8E8 !default;
$gray-3: #C0C0C0 !default;
$gray-4: #BDBDBD !default;
$gray-5: #828282 !default;
$second-text: #5C5C5C !default;
$light-grey: #F2F2F2 !default;
$light-grey-2: #D3D3D3 !default;
$blue:#2F80ED !default;
$cyan: #5edef7 !default;
$cyan-2: #B0CBFF !default;
$yellow: #FFD53F !default;
$pink: #ff8dbe !default;
$purple: #ce8afb !default;
$indigo: #7d3d60 !default;
$green: #219653 !default;
$green-tea: #D3E689 !default;
$matcha: #88984A !default;
$moccassin: #FFEDAD !default;
